PORT=3000
FORGEX_HOST=127.0.0.1
FORGEX_REQUIRE_LOCAL_ONLY=1
XRPL_RPC_URL=https://rpc.testnet.xrplevm.org
XRPL_CHAIN_ID=1449000
FORGEX_ALLOWED_RPC_URLS=https://rpc.testnet.xrplevm.org
FORGEX_SIGNER_MODE=external
FORGEX_ALLOW_DEV_SIGNER=0
FORGEX_EXTERNAL_ACCOUNT_ALIAS=
FORGEX_EXTERNAL_SENDER_ADDRESS=
PRIVATE_KEY=
FORGEX_INITIAL_MESSAGE=ForgeX online on XRPL EVM
FORGEX_RUN_DB_PATH=state/forgex-runs.sqlite
FORGEX_MAX_CONCURRENT_WRITE_RUNS=1
FORGEX_MAX_CONCURRENT_READ_RUNS=4
FORGEX_MAX_SSE_CONNECTIONS=5
FORGEX_CHILD_TIMEOUT_MS=120000
FORGEX_RPC_TIMEOUT_MS=15000
FORGEX_CONFIRMATION_POLL_MS=3000
FORGEX_CONFIRMATION_TIMEOUT_MS=120000
FORGEX_DISABLE_KNOWLEDGE_COMPILE=0
FORGEX_FORGE_BIN=forge
FORGEX_FORGE_BIN_ARGS=[]
FORGEX_CAST_BIN=cast
FORGEX_CAST_BIN_ARGS=[]
